@CHARSET "UTF-8";


/*CSS Avatar*/
.avatar {
	width: 40px !important;
	height: 40px !important;
	border-radius:5px;
	margin-top:6px;
}

.perfilAvatar {
	width: 100px !important;
	height: 100px !important;
	display: inline-block;
	position: absolute;
	margin: 15px 30px;
}

.perfilAvatarMovil {
	width: 75px;
	height: 75px;
	display: block;
	position: absolute;
}

.commentAvatar {
	width: 60px !important;
	height: 60px !important;
	border-radius: 50%;
	margin-right: 8px;
}

.contenedor-avatar{
    padding-bottom: 10px !important;
    padding-top: 0px !important;
	
}

/*CSS Logo*/
.logo-lg-md{
	width: 100px;
	height: 90px;
	margin-top: -25px;
	padding-bottom: 20px;
}

.logo-sm{
	width: 80px;
	height: 60px;
	padding-bottom: 10px;
}

.contenedor-logo{
    padding-top: 0px !important;
    padding-left: 0px !important;
}

/*CSS Imágenes redondeadas*/
.circle {
	line-height: 0; /* remove line-height */
	display: inline-block; /* circle wraps image */
	margin: 5px;
	border: 2px solid rgba(255, 255, 255, 0.4);
	border-radius: 50%; /* relative value */
	transition: linear 0.25s;
	height: 544px;
	width: 364px;
}

.circle img {
	border-radius: 50%; /* relative value for
				   adjustable image size */
}

a.circle {
	color: transparent;
} 
.bigbook{
	width: 300px;
	height: 440px;
}
.mediumbook{
	width: 250px;
	height: 350px;
}
.smallbook{
	width: 150px;
	height: 220px;
}
.votebook{
	width: 120px;
	height: 180px;
	border-radius:2px;
}

.bigauthor{
	width: 300px;
	height: 300px;
}

.mediumauthor{
	width: 225px;
	height: 225px;
}
.smallauthor{
	width: 150px;
	height: 150px;
}

.bigimage{
	width: 320px;
	height: 180px;
}

.smallimage{
	width: 230px;
	height:160px;
}