@CHARSET "UTF-8";


/*CSS Avatar*/
.avatar {
	width: 40px !important;
	height: 40px !important;
}

.contenedor-avatar{
    padding-bottom: 10px !important;
    padding-top: 0px !important;
	
}

/*CSS Logo*/
.logo{
	width: 140px;
	height: 50px;
}
.contenedor-logo{
    padding-top: 0px !important;
    padding-left: 0px !important;
}

/*CSS Imágenes redondeadas*/
.circle {
	line-height: 0; /* remove line-height */
	display: inline-block; /* circle wraps image */
	margin: 5px;
	border: 2px solid rgba(255, 255, 255, 0.4);
	border-radius: 50%; /* relative value */
	transition: linear 0.25s;
	height: 544px;
	width: 364px;
}

.circle img {
	border-radius: 50%; /* relative value for
				   adjustable image size */
}

a.circle {
	color: transparent;
} 

.smallbook{
	width: 150px;
	height: 220px;
}

.smallauthor{
	width: 150px;
	height: 150px;
}